<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.vasista.nhdcapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="in.vasista.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nhdc_launcher"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCHjdWVXMva749AH6yw9Ul6bt87Hm1J-kY" />

        <activity
            android:name="in.vasista.vsales.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.vasista.vsales.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="in.vasista.vsales.SalesDashboardActivity"
            android:label="@string/dashboard"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.SuppDashboardActivity"
            android:label="Supplier Dashboard"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.analytics.sales.SalesActivity"
            android:label="@string/title_analytica_sales"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.HRDashboardActivity"
            android:label="HR Dashboard"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.OrderActivity"
            android:label="@string/title_feature1"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.StockActivity"
            android:label="@string/stocks"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.StockDetailsActivity"
            android:label="Stock details"
            android:parentActivityName="in.vasista.vsales.StockActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.StockActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.IndentActivity"
            android:label="@string/title_feature2"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.PaymentActivity"
            android:label="@string/title_feature3"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.CatalogActivity"
            android:label="@string/title_feature4"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.FacilityActivity"
            android:label="@string/title_feature5"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.SupplierActivity"
            android:label="@string/title_feature5"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.TranporterActivity"
            android:label="@string/title_feature6"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.TransporterDetailsActivity"
            android:label="@string/title_feature6"
            android:parentActivityName="in.vasista.vsales.TranporterActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.TranporterActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.EmployeeActivity"
            android:label="@string/title_hr"
            android:parentActivityName="in.vasista.vsales.HRDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.HRDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.SearchActivity"
            android:label="@string/title_search" />
        <activity
            android:name="in.vasista.vsales.IndentItemsListActivity"
            android:label="@string/indent_details"
            android:parentActivityName="in.vasista.vsales.IndentActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.IndentActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.OrderItemsListActivity"
            android:label="Order Details"
            android:parentActivityName="in.vasista.vsales.OrderActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.OrderActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.FacilityDetailsActivity"
            android:label="Facility Details"
            android:parentActivityName="in.vasista.vsales.FacilityActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.FacilityActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.SupplierDetailsActivity"
            android:label="@string/supplier_details"
            android:parentActivityName="in.vasista.vsales.SupplierActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SupplierActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.EmployeeDetailsActivity"
            android:label="Employee Details"
            android:parentActivityName="in.vasista.vsales.EmployeeActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.EmployeeActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.MyEmployeeDetailsActivity"
            android:label="My Employee Details"
            android:parentActivityName="in.vasista.vsales.HRDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.HRDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.LeaveActivity"
            android:label="Leaves"
            android:parentActivityName="in.vasista.vsales.HRDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.HRDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.PayslipActivity"
            android:label="Payslip"
            android:parentActivityName="in.vasista.vsales.HRDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.HRDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.PayslipItemsListActivity"
            android:label="Payslip Details"
            android:parentActivityName="in.vasista.vsales.PayslipActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.PayslipActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.preference.FragmentPreferences"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.AttendanceActivity"
            android:label="Attendance"
            android:parentActivityName="in.vasista.vsales.HRDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.HRDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.location.LocationActivity"
            android:label="Location"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.inventory.InventoryActivity"
            android:label="Inventory"
            android:parentActivityName="in.vasista.vsales.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.MainActivity" />
        </activity>
        <activity
            android:name="in.vasista.inventory.InventoryDetailsActivity"
            android:label="InventoryDetails"
            android:parentActivityName="in.vasista.inventory.InventoryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.inventory.InventoryActivity" />
        </activity>
        <!-- <service android:enabled="true" android:name="in.vasista.location.LocationService"/> -->


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="in.vasista.location.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.IndentDetailed"
            android:label="@string/indent_details"
            android:launchMode="singleTask"
            android:parentActivityName="in.vasista.vsales.IndentActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.IndentActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.IndentShipmentActivity"
            android:label="Indent Shipment"
            android:parentActivityName="in.vasista.vsales.IndentDetailed"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.IndentDetailed" />
        </activity>

        <service
            android:name="in.vasista.location.LocationService"
            android:enabled="true" />

        <activity
            android:name="in.vasista.vsales.indent.IndentCreationActivity"
            android:label="@string/indent_details"
            android:parentActivityName="in.vasista.vsales.IndentActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.IndentActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.indent.IndentCreateProduct"
            android:label="Add product"
            android:parentActivityName="in.vasista.vsales.indent.IndentCreationActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.indent.IndentCreationActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.WeaverDetailedActivity"
            android:label="@string/weaver_details"
            android:parentActivityName="in.vasista.vsales.SalesDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SalesDashboardActivity" />
        </activity>

        <activity
            android:name="in.vasista.vsales.SupplierDetailedActivity"
            android:label="Supplier details"
            android:parentActivityName="in.vasista.vsales.SuppDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SuppDashboardActivity" />
        </activity>

        <activity
            android:name="in.vasista.vsales.SuppPOActivity"
            android:label="Product orders"
            android:parentActivityName="in.vasista.vsales.SuppDashboardActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SuppDashboardActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.SupplierPODeliveryActivity"
            android:label="Product orders"
            android:parentActivityName="in.vasista.vsales.SuppPOActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SuppPOActivity" />
        </activity>
        <activity
            android:name="in.vasista.vsales.ShipmentHistoryActivity"
            android:label="Product orders"
            android:parentActivityName="in.vasista.vsales.SupplierPODeliveryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SupplierPODeliveryActivity" />
        </activity>

        <activity
            android:name="in.vasista.vsales.SupplierPOItemDetailedActivity"
            android:label="Product orders"
            android:parentActivityName="in.vasista.vsales.SupplierPODeliveryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.SupplierPODeliveryActivity" />
        </activity>

        <activity android:name="in.vasista.vsales.IndentItemDetailed"
            android:label="@string/indent_item_details"
            tools:ignore="UnusedAttribute"
            android:parentActivityName="in.vasista.vsales.IndentDetailed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.IndentDetailed" />
        </activity>

        <activity android:name="in.vasista.payumoney.PayumoneyActivity"
            android:label="Make Payment"
            tools:ignore="UnusedAttribute"
            android:parentActivityName="in.vasista.vsales.PaymentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.PaymentActivity" />
        </activity>
        <!--Atom Payment Gateway-->
        <activity
            android:name="com.atom.mobilepaymentsdk.PayActivity"
            android:label="Make Payment">

        </activity>

        <activity
            android:name="in.vasista.atom.AtomActivity"
            android:label="Make Payment"
            tools:ignore="UnusedAttribute"
            android:parentActivityName="in.vasista.vsales.PaymentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vasista.vsales.PaymentActivity" />
        </activity>
    </application>

</manifest>